

<div class="container">
    <h3 class="col-xs-12">Guides</h3>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/tree/master/Examples/xc.helloworld/documentation">Hello World</a></h4>
        <div>Standard example to demonstrate the use of XComponent without knowing too much about microservices</div>
    </div>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/tree/master/Examples/xc.orderprocessing">Order Processing</a></h4>
        <div>A simple and naïve Order Processing microservice implemented using XComponent</div>
    </div>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/blob/master/Examples/xc.authentication">Simple Authentication service</a></h4>
        <div>Example to demonstrate how to develop a simple authentication microservice with XComponent: you will learn how to store data in a component and how to use file resources</div>
    </div>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/blob/master/Examples/xc.authentication">Trade Capture</a></h4>
        <div>Example to demonstrate how to develop a simple Trade Capture application with two microservices and two Wpf applications that interact wich each other</div>
    </div>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/blob/master/Examples/xc.restapiclient">Rest Api Client</a></h4>
        <div>Example to demonstrate how to consume a RestFul service with XComponent</div>
    </div>

    <div class="col-xs-4">
        <h4><a href="https://github.com/xcomponent/xcomponent/blob/master/Examples/xc.slack">Slack Gateway</a></h4>
        <div>Example to demonstrate how to post messages to Slack with XComponent</div>
    </div>
</div>