<h2>XComponent</h2>
<ul>
    <li>Docs</li>
    <li>Guides</li>
    <li>Blog</li>
    <li>Question</li>
</ul>

<div>
  <h3>XComponent CLI</h3>
  <p>
    Unlesh the power of microservices. Simplified development and operation of microservice for modern
    distributed applications. XComponent CLI takes lets you boostrap your project quickly in time.
  </p>

  <p>
    <a href="#quick-start"><button>Quick start</button></a>
  </p>
</div>

<div>
  <div>
    <p>
      XComponent CLI will help you install and generate a XComponent project that gets your started in no time.
      We provide you multiple project template to get started with our best practices regarding XComponent
      development.
    </p>

    <h5>Features</h5>

    <ul>
      <li>Install XCStudio with all the required dependencies.</li>
      <li>Initialize your XCStudio project</li>
      <li>Build your components</li>
      <li>Deploy and run your component to your XC Cloud Platform</li>
    </ul>

    <p>
      Our <a href="https://github.com/xcomponent/xcomponent/tree/master/Documentation">reference guide</a> 
      provides full detailed informations about building component with XCStudio.
    </p>

    <h5 id="quick-start">Quick Start</h5>

    <p>
      Follow our "Quick Start" example below to get started with XComponent development. First step involves 
      downloading XComponent CLI which will let you install the latest XComponent development tools.
    </p>

    <p>
      <button>Download XC CLI</button>
      <select>
          <option value="darwin-32">MacOS x86</option>
          <option value="darwin-64">MacOS x64</option>
          <option value="linux-32">Linux x86</option>
          <option value="linux-64">Linux x64</option>
          <option value="windows-32">Windows x86</option>
          <option value="windows-64">Windows x64</option>
      </select>
    </p>
    
      <h6>Install XC Studio with all its dependencies</h6>
      
      <pre>$ xc install</pre>
      
      <h6>Initialize your first project</h6>
        
      <pre>$ xc init</pre>

      <h6>Start Helloworld microservice</h6>

      <pre>$ build\startMicroservice.cmd</pre>
      
      <h6>Start Helloworld client</h6>
      
      <pre>$ build\startConsoleApp.cmd</pre>
          
      <h6>Open XCStudio</h6>
    
      <pre>$ xcstudio.cmd</pre>
  </div>

  <div>
    <h6>XComponent CLI</h6>
    <table>
      <tr>
        <th>Release</th>
        <th>Package</th>
        <th>Documentation</th>
      </tr>
      <tr>
        <td>4.6.5 CE</td>
        <td>
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.6.5/XComponentCommunity-4.6.5-G9_x64.msi">x64</a>
            |
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.6.5/XComponentCommunity-4.6.5-G9_x86.msi">x86</a>
        </td>
        <td><a href="https://github.com/xcomponent/xcomponent/tree/master/Documentation">Reference</a></td>
      </tr>
      <tr>
        <td>4.6.0 CE</td>
        <td>
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.6.0/XComponentCommunity-4.6.0-G10_x64.msi">x64</a>
            |
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.6.0/XComponentCommunity-4.6.0-G10_x86.msi">x86</a>
        </td>
        <td><a href="https://github.com/xcomponent/xcomponent/tree/master/Documentation">Reference</a></td>
      </tr>
      <tr>
        <td>4.5.0 CE</td>
        <td>
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.5.0/XComponentCommunity-4.5.0-G8_x64.msi">x64</a>
            |
            <a href="https://github.com/xcomponent/xcomponent/releases/download/4.6.0/XComponentCommunity-4.5.0-G8_x86.msi">x86</a>
        </td>
        <td><a href="https://github.com/xcomponent/xcomponent/tree/master/Documentation">Reference</a></td>
      </tr>
    </table>
  </div>
</div>